*
!.gitignore
!.tmux*
!.zshrc
!*.terminfo
/*!.config/usr_tools*/
/*!.config/usr_tools/**/
!.config/
/*!.config/tilda*/
/*!.config/tilda/**/
!.config/nvim
!.config/nvim/**/*
.config/nvim/.netrwhist
!.oh-my-zsh/*
!.ipython/
!.ipython/*
!.ptpython/
!.ptpython/*
.ptpython/history
.ipython/**
!.ipython/profile_default/
!.ipython/profile_default/ipython_config.py
!.ptpython/
!.ptpython/config.py
